.table
{
  margin: 0 auto;  
  text-align: center; 

}

.deck
{
  margin:auto;
  position: relative;
  left:0%;
  right:15%;
}

.all
{
  background-color: burlywood;
  text-align: center;
}


.country
{
  text-align: left;
  color: aqua;
 
}
.danger
{
  background-color: red;
}
.casesNew
{
  background-color: salmon;
}

.image
{
  width:18px;
  position:relative;
  left:20px;
}