.graphCountry
{
    color: rgb(206, 87, 87);
 
    
}

.graphMessage
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.displayedList:hover
{
    color: red;
    text-decoration: line-through;
    cursor: pointer;
    
   
}


.displayedList{
    font-weight: 600;
    background-color: khaki;
}

.cover
{
    border: cadetblue 2px solid;
    max-width: fit-content;
    margin-left: 5vw;
    padding-right: 20px;
  
}

.selectList
{
    width: 150px;

}

.chartHeat {
    display: flex;
    flex-direction: column;
  }
  
 h3 {
    margin-left: 33vw;
   
  }